#ordersTable{
    width: 70%;
    padding-left: 10%;
    padding-right: 10%;
    margin: left;
}

#newOrder{
    display: none;
}

.extendedTD{
    width: 400px;
}

/* #lockChangeForm{
    display: none;
}

#keyRequestForm{
    display: none;
} */

#centerContent{
    margin: auto;
    width: 50%;
    padding: 10px;
}

#saveBtnDiv{
    display: none;
}

  /* #keyRequestForm{
  display: none;
} */